.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.project {
  background-color: #282c34;
  background-color: rgba(40,44,68,.3);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  -moz-box-shadow:    inset 0 0 90px rgba(0,0,0, .6);
  -webkit-box-shadow: inset 0 0 90px rgba(0,0,0, .6);
  box-shadow:         inset 0 0 90px rgba(0,0,0, .6);
  transition: 1.1s;
}

.project p {
  opacity: 0;
  transition: .4s;
}

.project a {
  opacity: 0;
  transition: .4s;
  color: #61dafb;
}
.project:hover {
 /*margin: 0 0 0 0;*/
  background-color: rgba(40,44,68,.9);
  -moz-box-shadow:    inset 0 0 13px rgba(0,0,0,0);
  -webkit-box-shadow: inset 0 0 13px rgba(0,0,0,0);
  box-shadow:         inset 0 0 13px rgba(0,0,0,0);
  background-color: #282c34;
  transition: .4s;
}
.project:hover p {
  opacity: 1;
  transition: .9s;
}
.project:hover a {
  opacity: 1;
  transition: .9s;
}

.project:hover img {
  opacity: 0;
  transition: .5s;
}

.projectdiv {
  background-color: #282c34;
  padding: 0 10px 0 10px;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 0px;
}

.projectdiv h1 {
  color:white;
}

.projectdiv h3 {
  color:white;
}

.textbox {
  background-color: inherit;
  border-radius: inherit;
}

.industry {
  padding: 0 30% 0 30%;

  text-align: left;
}

#rice {
  background-image: url("/rice.png");
}
#light {
  background-image: url("/streetlights.jpg");
}
#oom {
  background-image: url("/mlscreen.jpg");
}
#java {
  background-image: url("/java.png");
}
#reac {
  background-image: url("/prettydeer.png");
}
#matlab {
  background-image: url("/atlanta.jpg");
}
#vis {
  background-image: url("/d3.jpg");
}
